.WorldConfirmed {
  background: #f2f2f2;
  color: black;
  border-style: none;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20vw;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
}